{% load static %}
    
     <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
    {% if user.is_authenticated %}

              <li class="nav-item" id="home">
                {% comment %} <a class="nav-link" href="/"> {% endcomment %}
                <a class="nav-link" href="{% url 'index' %}">
                  <i class="mdi mdi-home menu-icon"></i>
                  <span class="menu-title">Home</span>
                </a>
              </li>
    {% if user.is_superuser == 1 %}
         <li class="nav-item  alert-warning">
          <a class="nav-link 1" href="#">
            <span class="menu-title"></span>
          </a>
        </li> 
              <li class="nav-item" id="angkatan_mhs">
                <a class="nav-link" href="{% url 'ak:angkatan-mhs-index' %}">
                  <i class="mdi mdi-account-multiple-outline menu-icon"></i>
                  <span class="menu-title">Angkatan Mahasiswa</span>
                </a>
              </li>
              <li class="nav-item" id="mahasiswa">
                <a class="nav-link" href="{% url 'ak:mahasiswa-select' %}">
                  <i class="mdi mdi-account-outline menu-icon"></i>
                  <span class="menu-title">Mahasiswa</span>
                </a>
              </li>   
    {% endif %}
    {% if user.is_superuser == 1 or user.role.slug == 'kepala-prodi' %}
         <li class="nav-item  alert-warning">
          <a class="nav-link 2" href="#">
            <span class="menu-title"></span>
          </a>
        </li>                             
              <li class="nav-item" id="cpl">
                <a class="nav-link" href="{% url 'ak:cpl-index' %}">
                  <i class="mdi mdi-server menu-icon"></i>
                  <span class="menu-title">CPL</span>
                </a>
              </li>
              <li class="nav-item" id="matkul">
                <a class="nav-link" href="{% url 'ak:matkul-index' %}">
                  <i class="mdi mdi-note menu-icon"></i>
                  <span class="menu-title">Mata Kuliah</span>
                </a>
              </li>
    {% endif %}
    {% if user.is_superuser == 1 or user.role.slug == 'kepala-prodi' or user.role.slug == 'dosen'%}
        <li class="nav-item  alert-warning">
          <a class="nav-link 3" href="#">
            <span class="menu-title"></span>
          </a>
        </li> 
    {% endif %}
    {% if user.is_superuser == 1 or user.role.slug == 'kepala-prodi' %}
              <li class="nav-item" id="pemetaan_cpl">
                <a class="nav-link" href="{% url 'ak:pemetaan-cpl-select' %}">
                  <i class="mdi mdi-server menu-icon"></i>
                  <span class="menu-title">Pemetaan CPL</span>
                </a>
              </li>
    {% endif %}
    {% if user.is_superuser == 1 or user.role.slug == 'kepala-prodi' or user.role.slug == 'dosen'%}
              <li class="nav-item" id="cpmk">
                <a class="nav-link" href="{% url 'ak:cpmk-select' %}">
                  <i class="mdi mdi-server-network menu-icon"></i>
                  <span class="menu-title">CPMK</span>
                </a>
              </li>
    {% endif %}
    {% if user.is_superuser == 1 or user.role.slug == 'dosen' %}
              <li class="nav-item" id="sub_cpmk">
                <a class="nav-link" href="{% url 'ak:sub-cpmk-select' %}">
                  <i class="mdi mdi-server-plus menu-icon"></i>
                  <span class="menu-title">Metode Penilaian</span>
                </a>
              </li>              
    {% endif %}
        <li class="nav-item  alert-warning">
          <a class="nav-link 4" href="#">
            <span class="menu-title"></span>
          </a>
        </li> 
    {% if user.is_superuser == 1  %}
              <li class="nav-item" id="kuliah">
                <a class="nav-link" href="{% url 'ak:kuliah-select' %}">
                  <i class="mdi mdi-note-text menu-icon"></i>
                  <span class="menu-title">Kuliah</span>
                </a>
              </li>
    {% endif %}
              <li class="nav-item" id="kuliah_nilai">
                <a class="nav-link" href="{% url 'ak:kuliah-nilai-select' %}">
                  <i class="mdi mdi-note-text menu-icon"></i>
                  <span class="menu-title">Nilai Kuliah</span>
                </a>
              </li>

        <li class="nav-item  alert-warning">
          <a class="nav-link 5" href="#">
            <span class="menu-title"></span>
          </a>
        </li> 
              <li class="nav-item" id="rekap_cpl">
                <a class="nav-link" href="{% url 'ak:rekap-cpl-select' %}">
                  <i class="mdi mdi-bulletin-board menu-icon"></i>
                  <span class="menu-title">Rekap CPL</span>
                </a>
              </li>
              <li class="nav-item" id="grafik_mhs">
                <a class="nav-link" href="{% url 'ak:grafik-mhs-select' %}">
                  <i class="mdi mdi-chart-bar menu-icon"></i>
                  <span class="menu-title">Grafik Mahasiswa</span>
                </a>
              </li>
    {% if user.is_superuser == 1  %}
        <li class="nav-item  alert-warning">
          <a class="nav-link 6" href="#">
            <span class="menu-title"></span>
          </a>
        </li> 
              <li class="nav-item" id="user">
                <a class="nav-link" href="{% url 'mw:user-index' %}">
                  <i class="mdi mdi-account-settings menu-icon"></i>
                  <span class="menu-title">User</span>
                </a>
              </li>
    {% endif %}
{% endif %}
{% comment %} ------ {% endcomment %}
        {% comment %} {% if user.is_authenticated %}
          {% if user.is_superuser == 1 %}
        <li class="nav-item  alert-warning">
            <a class="nav-link" href="#">
              <span class="menu-title"></span>
            </a>
          </li> 
                <li class="nav-item" id="access-control">
                  <a class="nav-link" href="{% url 'index' %}">
                    <i class="mdi mdi-account-network menu-icon"></i>
                    <span class="menu-title">Access Control</span>
                  </a>
                </li>
          {% endif %}
        {% endif %} {% endcomment %}
  
{% comment %} ------ {% endcomment %}


        </ul>
      </nav>